*{
    margin: 0;
    padding: 0;
    font-family: 'VERDANA', Times, serif;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(home.jpg) ;
    height: 120vh;
    background-size: cover;
    background-position: center;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top:40%;
    left:41%;
}

.title h1{
    color: rgb(0,0,0 );
    font-size:70px;
}
.razorbutton{
    position: absolute;
	top:55.8%;
    left:43.5%;
}

